@import "../styles/prefix";
@import "../styles/variables";

$cell-color:$gray-8;
$cell-value-color:$gray-6;
$cell-font-size:$font-size-md;
$cell-label-font-size:$font-size-xs;
$cell-padding:$padding-sm $padding-md;
$cell-required-color:$red;
$cell-background-color:$white;
$cell-border-color:$border-color;
$cell-border-width :$border-width-base;
$cell-active-color:$gray-2;
$cell-brief-font-size:$font-size-sm;
$cell-large-vertical-padding: var(--padding-md, $padding-md)  var(--padding-md, $padding-md);
$cell-large-font-size: var(--font-size-lg, $font-size-lg) ;
$cell-large-label-font-size: var(--font-size-sm, $font-size-sm);