@import "./variables";
.#{$component-prefix}cell {
  font-family: $base-font-family;

  font-size: $cell-font-size;
  padding: $cell-padding;
 
  
  background-color: $cell-background-color;

  &:last-child{
    border-bottom: none;
  }
  &--title{
    
  }
  &--label{
    color: $cell-value-color;
    font-size: var(--cell-label-font-size,$cell-label-font-size);
  }
  &--value{

    color: $cell-value-color;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  &--active{
    &:active{
      background-color: $cell-active-color;
    }
  }

  border-bottom: $cell-border-color $cell-border-width solid;

  &--large{
    padding: $cell-large-vertical-padding;
    font-size: $cell-large-font-size;
    .unitify-cell--label{
      font-size: $cell-large-label-font-size;
    }
  }
}