@import "../styles/prefix";
@import "../styles/variables";

$field-color:$gray-8; 
$field-disabled-color:$gray-6;
$field-placeholder-color:$gray-3;
$field-errorMessage-font-size:$font-size-sm;
$field-errorMessage-color:$red;