@import "./variables";
.#{$component-prefix}field {
  color: $field-color;
  flex: 1;
  &--disabled{
    color: $field-disabled-color;
  }
  &--clearable{
    cursor: pointer;
  }
  &--error-message{
    color: $field-errorMessage-color;
    font-size: $field-errorMessage-font-size;
  }
  &--show-word-limit{
    text-align: right;
  }
}
