@import "../styles/prefix";
@import "../styles/variables";

$tabs-line-color:$red;
$tabs-scroll-height:$height-lg *2;
$tabs-border-radius:$border-radius-md;
$tabs-srcoll-color:$white;
$tabs-scroll-fontSize:$font-size-sm;
$tabs-line-border-radius :$border-radius-sm;